html{
  height:90%;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('map2.jpg');
  background-repeat: no-repeat;
  background-size : cover;
  background-attachment: fixed;
  color: rgb(60, 49, 66); 
  /* color: white; */
  margin: auto;
  width: 50%;
  text-align: center;
  height:90%;
  font-size: 1em;

}

a {
  color: #00B7FF;
}

input {
  padding: 1em;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1em;
  background: none;
  border-color: rgb(60, 49, 66); 
  color : rgb(60, 49, 66); 
  border: 1px solid;
}


input[type="text"]{
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="submit"]{
  border-radius: 0.5em;
}

div{
  padding: 0.5em;
  height:90%;
}

iframe{
  height:90%;
  width: 100%;
  border:0;
}